<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer_item">
            <div class="footer_item__title">
                <h3 class="title">Haben Sie Fragen</h3>
            </div>
            <div class="footer_item__text">
                <p>Wir helfen gerne weiter</p>
            </div>
            <div class="footer_item__form">
                <form>
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Name">
                    <input class="btn_red" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->
