<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__wrapper header_wrap">
            <!--begin logo-->
            <div class="header_wrap__logo">
                <a href="/">
                    <img src="img/logo.png" alt="Logo">
                </a>
            </div>
            <!--end logo-->
            <!--begin basket-->
            <div class="header_wrap__basket">
                <a href="#/">
                    <i class="fas fa-shopping-basket"></i>
                    <span>1</span>
                    Warenkorb
                </a>
            </div>
            <!--begin basket-->
        </div>
    </div>
</header>
<!--end header-->