<!--begin banner-->
<section class="home_banner">
    <img src="img/img_banner.jpg" alt="Banner">
</section>
<!--end banner-->
<!--begin products-->
<section class="home_products">
    <div class="container">
        <div class="home_products__title">
            <h2 class="title">
                Bestellen Sie exklusiv vor
            </h2>
        </div>
        <div class="home_products__wrapper products">
            <!--begin product item-->
            <div class="products__item products_item">
                <a class="products_item__info products_info" href="#/">
                    <div class="products_info__img">
                        <img src="img/img_product_1.jpg" alt="Product">
                    </div>
                    <div class="products_info__title">
                        <h3 class="title">
                            Apfel-Raffel "Clever"
                        </h3>
                    </div>
                </a>
                <div class="products_item__price product_price">
                    <div class="product_price__current">
                        CHF 21.90
                    </div>
                    <div class="product_price__old">
                        / CHF 25.90 ohne Abo
                    </div>
                </div>
                <div class="products_item__basket">
                    <a href="#/">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>
            </div>
            <!--end product item-->
            <!--begin product item-->
            <div class="products__item products_item">
                <a class="products_item__info products_info" href="#/">
                    <div class="products_info__img">
                        <img src="img/img_product_2.jpg" alt="Product">
                    </div>
                    <div class="products_info__title">
                        <h3 class="title">
                            Apfel-Raffel "Clever"
                        </h3>
                    </div>
                </a>
                <div class="products_item__price product_price">
                    <div class="product_price__current">
                        CHF 21.90
                    </div>
                    <div class="product_price__old">
                        / CHF 25.90 ohne Abo
                    </div>
                </div>
                <div class="products_item__basket">
                    <a href="#/">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>
            </div>
            <!--end product item-->
            <!--begin product item-->
            <div class="products__item products_item">
                <a class="products_item__info products_info" href="#/">
                    <div class="products_info__img">
                        <img src="img/img_product_3.jpg" alt="Product">
                    </div>
                    <div class="products_info__title">
                        <h3 class="title">
                            Apfel-Raffel "Clever"
                        </h3>
                    </div>
                </a>
                <div class="products_item__price product_price">
                    <div class="product_price__current">
                        CHF 21.90
                    </div>
                    <div class="product_price__old">
                        / CHF 25.90 ohne Abo
                    </div>
                </div>
                <div class="products_item__basket" >
                    <a href="#/">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>
            </div>
            <!--end product item-->
            <!--begin product item-->
            <div class="products__item products_item">
                <a class="products_item__info products_info" href="#/">
                    <div class="products_info__img">
                        <img src="img/img_product_1.jpg" alt="Product">
                    </div>
                    <div class="products_info__title">
                        <h3 class="title">
                            Apfel-Raffel "Clever"
                        </h3>
                    </div>
                </a>
                <div class="products_item__price product_price">
                    <div class="product_price__current">
                        CHF 21.90
                    </div>
                    <div class="product_price__old">
                        / CHF 25.90 ohne Abo
                    </div>
                </div>
                <div class="products_item__basket">
                    <a href="#/">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>
            </div>
            <!--end product item-->
            <!--begin product item-->
            <div class="products__item products_item">
                <a class="products_item__info products_info" href="#/">
                    <div class="products_info__img">
                        <img src="img/img_product_2.jpg" alt="Product">
                    </div>
                    <div class="products_info__title">
                        <h3 class="title">
                            Apfel-Raffel "Clever"
                        </h3>
                    </div>
                </a>
                <div class="products_item__price product_price">
                    <div class="product_price__current">
                        CHF 21.90
                    </div>
                    <div class="product_price__old">
                        / CHF 25.90 ohne Abo
                    </div>
                </div>
                <div class="products_item__basket">
                    <a href="#/">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>
            </div>
            <!--end product item-->
            <!--begin product item-->
            <div class="products__item products_item">
                <a class="products_item__info products_info" href="#/">
                    <div class="products_info__img">
                        <img src="img/img_product_3.jpg" alt="Product">
                    </div>
                    <div class="products_info__title">
                        <h3 class="title">
                            Apfel-Raffel "Clever"
                        </h3>
                    </div>
                </a>
                <div class="products_item__price product_price">
                    <div class="product_price__current">
                        CHF 21.90
                    </div>
                    <div class="product_price__old">
                        / CHF 25.90 ohne Abo
                    </div>
                </div>
                <div class="products_item__basket" >
                    <a href="#/">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>
            </div>
            <!--end product item-->
        </div>
    </div>
</section>
<!--end products-->
