<!--begin kasse-->
<section class="kasse">
    <div class="container">
        <div class="kasse__item kasse_item">
            <div class="kasse_item__title">
                <h1 class="title">
                    Artikel noch nicht
                </h1>
            </div>
            <div class="kasse_item__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta ex sed! A accusantium alias ex modi nulla odio placeat porro quod, repellendus sed sint, unde vel veritatis voluptatem voluptatum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore ea esse fugit molestiae numquam perspiciatis quod vero? Adipisci aspernatur atque commodi deleniti esse iure laboriosam provident reiciendis unde veniam.</p>
            </div>
            <div class="kasse_item__accept">
                <form>
                    <label for="no">
                        <input name="accept" id="no" type="radio">
                        No
                    </label>
                    <label for="yes">
                        <input name="accept" id="yes" type="radio" checked>
                        Yes
                    </label>
                </form>
            </div>
            <div class="kasse_item__form">
                <form>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Lastname">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Address">
                    <input class="btn_red" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>
<!--end kasse-->