<!--begin warenkorb-->
<section class="warenkorb">
    <div class="container">
        <div class="warenkorb__wrapper warenkorb_wrap">
            <!--begin item-->
            <div class="warenkorb_wrap__title warenkorb_title">
                <h1 class="title">Warenkorb</h1>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="warenkorb_wrap__link warenkorb_link">
                <a class="btn_red" href="#/">
                    Zur Kasse
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <!--end item-->
        </div>
        <div class="warenkorb__list warenkorb_list">
            <!--begin item-->
            <div class="warenkorb_list__item warencorb_list_item">
                <div class="warencorb_list_item__img">
                    <img src="img/img_product_1.jpg" alt="img">
                </div>
                <div class="warencorb_list_item__title">
                    <h3 class="title">Afpel-Raffel "Clever"</h3>
                </div>
                <div class="warencorb_list_item__numbers warenkorb_numbers">
                    <div class="warenkorb_numbers__trash">
                        <a href="#/">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="numbers">
                        <label class="numbers__minus">
                            <input type='button' value='' class='minus' field='quantity' />
                        </label>
                        <input type='text' name='quantity' value='1' class='value' min="1" />
                        <label class="numbers__plus">
                            <input type='button' value='' class='plus' field='quantity' />
                        </label>
                    </div>
                </div>
                <div class="warencorb_list_item__price">
                    <p>CHF 29.90</p>
                </div>
                <div class="warencorb_list_item__total">
                    <p>CHF 29.90</p>
                </div>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="warenkorb_list__item warencorb_list_item">
                <div class="warencorb_list_item__img">
                    <img src="img/img_product_2.jpg" alt="img">
                </div>
                <div class="warencorb_list_item__title">
                    <h3 class="title">Afpel-Raffel "Clever"</h3>
                </div>
                <div class="warencorb_list_item__numbers warenkorb_numbers">
                    <div class="warenkorb_numbers__trash">
                        <a href="#/">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="numbers">
                        <label class="numbers__minus">
                            <input type='button' value='' class='minus' field='quantity' />
                        </label>
                        <input type='text' name='quantity' value='1' class='value' min="1" />
                        <label class="numbers__plus">
                            <input type='button' value='' class='plus' field='quantity' />
                        </label>
                    </div>
                </div>
                <div class="warencorb_list_item__price">
                    <p>CHF 29.90</p>
                </div>
                <div class="warencorb_list_item__total">
                    <p>CHF 29.90</p>
                </div>
            </div>
            <!--end item-->
        </div>
        <div class="warenkorb__total warenkorb_total">
            <p>CHF 64.80</p>
        </div>
        <div class="warenkorb__links">
            <a class="btn_white" href="#/">
                <i class="fas fa-chevron-left"></i>
                Zum Shop
            </a>
            <a class="btn_red" href="#/">
                Zum Kasse
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</section>
<!--end warenkorb-->