// Footer

.footer {
  background-color: #f9fafb;
  padding: 20px 0;
}

.footer_item {
  text-align: center;
  &__title {
    margin-bottom: 10px;
    .title {
      color: $color_black;
      font-size: 26px;
    }
  }
  &__text {
    margin-bottom: 20px;
    p {
      color: $color_black;
      font-size: 14px;
    }
  }
  &__form {
    form {
      width: 250px;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      textarea {
        width: 100%;
        border: 1px solid $color_grey;
        color: $color_black;
        font-size: 14px;
        height: 40px;
        min-height: 60px;
        padding-left: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        &::placeholder {
          color: $color_grey;
          font-size: 14px;
        }
      }
      input[type="email"],
      input[type="text"] {
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid $color_grey;
        color: $color_black;
        font-size: 14px;
        height: 40px;
        padding-left: 10px;
        &::placeholder {
          color: $color_grey;
          font-size: 14px;
        }
      }

    }
  }
}